<div class="dashboard-container">
    <h4 class="page-title">Notes</h4>
    <div class="notes" fxLayout="row wrap" fxLayoutAlign="center start">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Note Type 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Description
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Note Type 2</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Description
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Note Type 3</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Description
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Note Type 4</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Description
            </mat-card-content>
        </mat-card>
    </div>
</div>
